<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>HTTP Demo</title>
<!-- 插入jquery -->
<script src="{{url_for('static', filename='jquery.js')}}"></script>
<script type=text/javascript>
var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
</script>
<script type=text/javascript>
$(function() {
    function submit_form(e) {
      $.ajax({
        type: "post",
        url: $SCRIPT_ROOT + '/value',
        data: {                  
            a: $('input[name="a"]').val(),
            b: $('input[name="b"]').val(),
            now: new Date().getTime()
        },
        success: function(data) {
            $('#result').text(data.result);
        }
      });
    }
    // 绑定click事件
    $('#calculate').bind('click', submit_form);
});
</script>
</head> 
<body>  
<p>
    <input type=text size=5 name=a> +
    <input type=text size=5 name=b> =
    <span id=result>?</span>
</p>
<p><input type="button" id="calculate" value="计算"></p>
</body>  
</html>  